# DATA CLEANING

In [1]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\admin\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\admin\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\admin\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\admin\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\admin\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\admin\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\admin\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\admin\AppData\Local\Temp/ipykernel_8560/4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\__init__.py", line 77, in <module>
    from pandas.core.api import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\admin\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\admin\anaconda3\lib\site-packages\numexpr\__init__.py", line 26, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\admin\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\admin\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\admin\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\admin\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\admin\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\admin\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\admin\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\admin\AppData\Local\Temp/ipykernel_8560/4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\__init__.py", line 77, in <module>
    from pandas.core.api import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\admin\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\admin\anaconda3\lib\site-packages\bottleneck\__init__.py", line 2, in <module>
    from .reduce import (

AttributeError: _ARRAY_API not found

In [2]:
data=pd.read_csv('Mobile_data.csv')

In [3]:
data

,Unnamed: 0,Name,Price,Offer_price,Percentage_Offer
0,0,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"<span class=""Prdvsprc_"">₹ 29,499</span>","<span class=""Prdmrprc_"">₹ 33,999</span>","<span class=""ofrnm_"">13% OFF</span>"
1,1,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"<span class=""Prdvsprc_"">₹ 29,499</span>","<span class=""Prdmrprc_"">₹ 33,999</span>","<span class=""ofrnm_"">13% OFF</span>"
2,2,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"<span class=""Prdvsprc_"">₹ 29,499</span>","<span class=""Prdmrprc_"">₹ 33,999</span>","<span class=""ofrnm_"">13% OFF</span>"
3,3,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 33,499</span>","<span class=""Prdmrprc_"">₹ 37,999</span>","<span class=""ofrnm_"">12% OFF</span>"
4,4,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 33,499</span>","<span class=""Prdmrprc_"">₹ 37,999</span>","<span class=""ofrnm_"">12% OFF</span>"
5,5,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 31,499</span>","<span class=""Prdmrprc_"">₹ 35,999</span>","<span class=""ofrnm_"">13% OFF</span>"
6,6,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 31,499</span>","<span class=""Prdmrprc_"">₹ 35,999</span>","<span class=""ofrnm_"">13% OFF</span>"
7,7,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 33,499</span>","<span class=""Prdmrprc_"">₹ 37,999</span>","<span class=""ofrnm_"">12% OFF</span>"
8,8,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 31,499</span>","<span class=""Prdmrprc_"">₹ 35,999</span>","<span class=""ofrnm_"">13% OFF</span>"
9,9,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"<span class=""Prdvsprc_"">₹ 30,999</span>","<span class=""Prdmrprc_"">₹ 32,999</span>","<span class=""ofrnm_"">6% OFF</span>"
10,10,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"<span class=""Prdvsprc_"">₹ 30,999</span>","<span class=""Prdmrprc_"">₹ 32,999</span>","<span class=""ofrnm_"">6% OFF</span>"
11,11,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"<span class=""Prdvsprc_"">₹ 24,999</span>","<span class=""Prdmrprc_"">₹ 26,999</span>","<span class=""ofrnm_"">7% OFF</span>"

In [4]:
data = data.drop("Unnamed: 0",axis=1)

In [5]:
data["Percentage_Offer"]=data["Percentage_Offer"].str.strip('</span>').astype(str)

In [6]:
data["Percentage_Offer"]=data["Percentage_Offer"].str.strip('<span class="ofrnm_">').astype(str)

other method for remove as combine

data["Percentage_Offer"]=data["Percentage_Offer"].str.strip('<span class="ofrnm_"></span>').astype(str)

In [7]:
data

,Name,Price,Offer_price,Percentage_Offer
0,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"<span class=""Prdvsprc_"">₹ 29,499</span>","<span class=""Prdmrprc_"">₹ 33,999</span>",13% OFF
1,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"<span class=""Prdvsprc_"">₹ 29,499</span>","<span class=""Prdmrprc_"">₹ 33,999</span>",13% OFF
2,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"<span class=""Prdvsprc_"">₹ 29,499</span>","<span class=""Prdmrprc_"">₹ 33,999</span>",13% OFF
3,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 33,499</span>","<span class=""Prdmrprc_"">₹ 37,999</span>",12% OFF
4,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 33,499</span>","<span class=""Prdmrprc_"">₹ 37,999</span>",12% OFF
5,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 31,499</span>","<span class=""Prdmrprc_"">₹ 35,999</span>",13% OFF
6,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 31,499</span>","<span class=""Prdmrprc_"">₹ 35,999</span>",13% OFF
7,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 33,499</span>","<span class=""Prdmrprc_"">₹ 37,999</span>",12% OFF
8,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"<span class=""Prdvsprc_"">₹ 31,499</span>","<span class=""Prdmrprc_"">₹ 35,999</span>",13% OFF
9,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"<span class=""Prdvsprc_"">₹ 30,999</span>","<span class=""Prdmrprc_"">₹ 32,999</span>",6% OFF
10,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"<span class=""Prdvsprc_"">₹ 30,999</span>","<span class=""Prdmrprc_"">₹ 32,999</span>",6% OFF
11,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"<span class=""Prdvsprc_"">₹ 24,999</span>","<span class=""Prdmrprc_"">₹ 26,999</span>",7% OFF

In [8]:
data["Price"]=data["Price"].str.strip('<span class="Prdvsprc_"></span>').astype(str)

In [9]:
data

,Name,Price,Offer_price,Percentage_Offer
0,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"₹ 29,499","<span class=""Prdmrprc_"">₹ 33,999</span>",13% OFF
1,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"₹ 29,499","<span class=""Prdmrprc_"">₹ 33,999</span>",13% OFF
2,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"₹ 29,499","<span class=""Prdmrprc_"">₹ 33,999</span>",13% OFF
3,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 33,499","<span class=""Prdmrprc_"">₹ 37,999</span>",12% OFF
4,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 33,499","<span class=""Prdmrprc_"">₹ 37,999</span>",12% OFF
5,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 31,499","<span class=""Prdmrprc_"">₹ 35,999</span>",13% OFF
6,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 31,499","<span class=""Prdmrprc_"">₹ 35,999</span>",13% OFF
7,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 33,499","<span class=""Prdmrprc_"">₹ 37,999</span>",12% OFF
8,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 31,499","<span class=""Prdmrprc_"">₹ 35,999</span>",13% OFF
9,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"₹ 30,999","<span class=""Prdmrprc_"">₹ 32,999</span>",6% OFF
10,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"₹ 30,999","<span class=""Prdmrprc_"">₹ 32,999</span>",6% OFF
11,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"₹ 24,999","<span class=""Prdmrprc_"">₹ 26,999</span>",7% OFF

In [10]:
data["Offer_price"]=data["Offer_price"].str.strip('<span class="Prdmrprc_"></span>').astype(str)

In [11]:
data

,Name,Price,Offer_price,Percentage_Offer
0,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"₹ 29,499","₹ 33,999",13% OFF
1,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"₹ 29,499","₹ 33,999",13% OFF
2,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (8GB...,"₹ 29,499","₹ 33,999",13% OFF
3,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 33,499","₹ 37,999",12% OFF
4,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 33,499","₹ 37,999",12% OFF
5,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 31,499","₹ 35,999",13% OFF
6,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 31,499","₹ 35,999",13% OFF
7,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 33,499","₹ 37,999",12% OFF
8,Redmi Note 13 Pro+ 5G Dual Sim Smartphone (12G...,"₹ 31,499","₹ 35,999",13% OFF
9,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"₹ 30,999","₹ 32,999",6% OFF
10,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"₹ 30,999","₹ 32,999",6% OFF
11,Samsung Galaxy F Series F55 5G Dual Sim Smartp...,"₹ 24,999","₹ 26,999",7% OFF

# CATAGORICAL DATA

In [16]:
Salary_Data=pd.DataFrame({'Salary':[10000,20000,25000,30000,45000,50000,70000,23000],
                          'Range':['Low','Low','Mid','Mid','High','High','Mid','Low']})

In [17]:
Salary_Data

   Salary Range
0   10000   Low
1   20000   Low
2   25000   Mid
3   30000   Mid
4   45000  High
5   50000  High
6   70000   Mid
7   23000   Low

In [18]:
Code=Salary_Data.Range.map({'Low':3,'Mid':2,"High":1})

In [19]:
Code

0    3
1    3
2    2
3    2
4    1
5    1
6    2
7    3
Name: Range, dtype: int64

In [20]:
Code2=Salary_Data.Range.map({'Low':'a','Mid':'b',"High":'c'})

In [21]:
Code2

0    a
1    a
2    b
3    b
4    c
5    c
6    b
7    a
Name: Range, dtype: object

In [22]:
publish=pd.DataFrame(Salary_Data['Salary'],columns=['Salary'])

In [23]:
publish['Code']=Code

In [26]:
publish['Code_2']=Code2

In [27]:
publish

   Salary  Code Code_2
0   10000     3      a
1   20000     3      a
2   25000     2      b
3   30000     2      b
4   45000     1      c
5   50000     1      c
6   70000     2      b
7   23000     3      a